<!-- <form [formGroup]="paletteForm" (ngSubmit)="newPalette()" style="margin: 0 auto; max-width: 70%;">
  <div class="row">
    <div class="col-6">
      <label class="form-label">Palette Name:</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="col-6">
      <label class="form-label">Description:</label>
      <input type="text" class="form-control" formControlName="description">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-info mt-3">Save</button>
    </div>
    <p class="text-center mt-2 small">Switch to <a>log in</a></p>
    </div>
</form>




<div class="d-flex justify-content-center align-items-center m-5">
<div class="watercolor-tin">
<div class="paints d-flex justify-content-between flex-row m-3">
  <div class="paint d-flex justify-content-center align-items-center" *ngFor="let color of paletteColors.slice(0,6)" [style.background-color]="color"><h3>+</h3></div>
</div>
<div class="paints d-flex justify-content-between flex-row m-3">
  <div class="paint d-flex justify-content-center align-items-center" *ngFor="let color of paletteColors.slice(6,12)" [style.background-color]="color"><h3 class="plus-sign" (click)="toggleMenu()">+</h3></div>
</div>
</div>
</div>

<div *ngFor="let paint of paintArr">
  {{paint.pigment}}
  <button (click)="deletePaint(paint)">Delete</button>
</div>

<div class="menu"><app-paints></app-paints></div>
 -->



 <a class="btn btn-outline-info m-3" data-bs-toggle="modal" data-bs-target="#newPaletteModal" [@fadeInOut]><span class="material-symbols-outlined">
  palette
  </span> New Palette</a>


 <!-- New Palette Modal -->
<div class="modal fade" id="newPaletteModal" tabindex="-1" ria-labelledby="exampleModalLabel" aria-hidden="true" [@fadeInOut]>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="paletteForm" (ngSubmit)="newPalette()">
        <div class="modal-header">
          <h5 class="modal-title" id="newPaletteModalLabel">New Palette</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="paletteName">Palette Name:</label>
            <input type="text" class="form-control" id="paletteName" formControlName="name">
          </div>
          <div class="form-group">
            <label for="paletteDescription">Description:</label>
            <textarea class="form-control" id="paletteDescription" rows="3" formControlName="description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-info mt-3" data-bs-dismiss="modal">Save Palette</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="palettes-container">
  <div *ngFor="let palette of userPalettes" class="palette-item" [@fadeInOut]>

    <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" style="border: 0px;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="material-symbols-outlined">
        more_vert
      </span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
      <li>
        <a class="dropdown-item" href="#" data-bs-toggle="modal" [attr.data-bs-target]="'#editModal-' + palette.id" (click)="editPalette(palette)">

            <span class="material-symbols-outlined">
              edit
            </span> Edit

        </a>
      </li>
      <li>

        <a class="dropdown-item" (click)="deletePalette(palette)">

            <span class="material-symbols-outlined">
              delete
              </span> Delete
        </a>
      </li>
    </ul>
  </div>


  <app-show-palette [palette]="palette"></app-show-palette>
  <hr>
    <h3>{{ palette.name }}</h3>
    <p>{{ palette.description }}</p>

  </div>
</div>


<!-- Edit Palette Modal -->
<!-- <div class="modal fade" id="editPaletteModal" tabindex="-1" role="dialog" aria-labelledby="editPaletteModalLabel" aria-hidden="true" [@fadeInOut]>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="paletteForm" (ngSubmit)="updatePalette()">
        <div class="modal-header">
          <h5 class="modal-title" id="editPaletteModalLabel">Edit Palette</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="paletteName">Palette Name:</label>
            <input type="text" class="form-control" id="paletteName" formControlName="name">
          </div>
          <div class="form-group">
            <label for="paletteDescription">Description:</label>
            <textarea class="form-control" id="paletteDescription" rows="3" formControlName="description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-info mt-3" data-bs-dismiss="modal">Update Palette</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
